@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
.AboutUsSection{
    padding-top: 5em;
 
}

.AboutParagraph{
    margin-top: 2em;
    padding: 1em;
    font-weight: 400;
    font-size: 1.2em;
    text-align: left;

}
.AboutParagraph>span{
    color:#92C83E;
    font-weight: 600 ;
    font-size: 1.2em ;
}
#About1stParagraph{
    margin-top:0.5em;
}
#About4thParagraph{
    margin-bottom: 2.5em;
}
#MobileAbout1stParagraph{
    margin-top:0.5em;
}
#MobileAbout7thParagraph{
    margin-bottom: 1.5em;
}
.MobileAboutParagraph{
    padding: 1em;
    margin-top: 2em;
    text-align: justify;
    font-weight: 400;
}
.MobileAboutParagraph>span{
    color:#92C83E;
    font-size: 1.2em;
    font-weight: 600;
}
.MobileAboutUs{
    display: none;
}
@media (max-width:768px){
    .AboutParagraph{
    font-weight:400 ;
    }
    .DesktopAboutUs{
        display: none;
    }
    .MobileAboutUs{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width:280px){
    .AboutParagraph{
        padding: 1em;
        font-size: 0.9em ;
    }
    .AboutParagraph>span{
        font-size: 1.1em ;
    }
}