@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

h2,h3,h4{
    text-align: center;
    color:#07294b;
}
.Greenh2{
    color:#92C83E;
}
.DownloadPDF{
    color:#07294b;
    font-weight: 600;
    text-align: center !important;
}
.CalendarMain{
    padding-top: 5em;
    min-height: 80vh;
}
.Title{
    margin-bottom: 2em;
}
.CalendarButton{
    width:100%;
    border-radius: 2em;   
}
.CalendarHeader{
    background-color:#07294b;
    height: 2em;
    text-align: center;
}
.CalendarMonth{
    color:white;
   text-align: center;
   margin: auto;
}
.CalendarBody{
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.TimeandPlace{
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
   
}
.CalendarDate{
    width:5em;
    border:1px solid #07294b;
    align-items: center;
    margin-bottom: 1em;
    color:#07294b;
    margin-right: 1em;
    
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
   
   
}
.card1{
    display: flex;
    flex-direction: column;
    justify-self:center;
    margin:auto;
    margin-bottom: 2em;
    height:300px;

}
.card1>h1{
    text-align: center;
    font-size: 1.5em;
}
.CalendarCardDetails{
    display: flex;
    align-items: center;
}
.CalendarLogos>img{
    width:25em;
}
.CalendarLogos{
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom:1em ;
}
.CourseDetails{
    margin-top:1em;
    display: flex;
    justify-content: center;
    
}
.CourseTitle{
    margin: auto;
    text-align: center;
}
.CalendarContainer{
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    gap:4em;
  
}
.Time{
    text-align: center;
}
.center{
    margin: auto;
}
.blur{
    filter: blur(10px);
 
}
.FormContainer{
    display: none;
    margin-bottom: 15em;
}
.FormButtonDiv{
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
} 
.SubmitButton{
    margin-right: 2em;
}
@media(max-width:650px){
    .CalendarLogos>img{
        width:15em;
    }
}
@media (min-width:1023px){
   
    .MoreTrainingComingSoonText{
        margin-top: 3em;
    }
}
@media(min-width:1900px){
     
    .MoreTrainingComingSoonText{
        margin-top: 3em;
    }
   
}