@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Kumbh Sans", sans-serif;
}
.NavBarContainer{
    width:100%;
    display:flex;
    justify-content: center;
    position: fixed;
    z-index:999;
    align-items: center;
    background-color: white;
}
.NavBar{
    width: 80%;
    display:flex;
    justify-content: space-between;
    color: black;
    font-size: 1.5em;
    font-weight: 600;
    cursor: pointer;
}
#HomeNav{
    text-decoration: underline;

}
.MainLogo{
    width:70%;
    padding-top: 5em;
   
}
.LogoContainer{
    display: flex;
    justify-content: center;
}
.NavLogo{
    width:3em;
    margin-right: 3em;
    margin-top:0.5em;
}
.Slogan{
    text-align: center;
    color:#07294b;
    font-weight:800;
}

.LocationSection{
    display: flex;
    justify-content: center;
    margin-top:2em;
}
.LocationSection>iframe{
    width: 100%;
    height:25em;
}
.FooterSection{
    background-color: #02305e;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top:1em;
    padding-bottom:1em ;
    
}
.SocialLinks>i{
margin: 0.5em;
font-size: 1.5em;
}
.CopyRightsText{
    font-size:1em;
}
    @media (max-width:650px){
    .LocationSection>iframe{
        width: 80%;
        height: 15em;
    }

}