@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Kumbh Sans", sans-serif;
}
.NavBarContainer{
    width:100%;
    display:flex;
    justify-content: center;
    position: fixed;
    z-index:999;
    align-items: center;
    background-color: white;
}
.MobileNavBarContainer{
    display: none;
}
.NavBar{
    width: 80%;
    display:flex;
    justify-content: space-between;
    color: black;
    font-size: 1.5em;
    font-weight: 600;
    cursor: pointer;
}
.NavBar>a{
    text-decoration:none;
    text-decoration-thickness:4px !important;
    text-underline-offset:8px !important;
}
#HomeNav,#MobileHomeNav{
    text-decoration: underline;
}
#CloseIcon{
    display: none;
    padding-top: 1em;
    margin-right: -1.5em;
    cursor: pointer;
}
.MainLogo{
    width:70%;
    padding-top: 5em;
   
}
.LogoContainer{
    display: flex;
    justify-content: center;
}
.NavLogo{
    width:3em;
    margin-right: 3em;
    margin-top:0.5em;
}
.Slogan{
    text-align: center;
    color:#07294b;
    font-weight:800;
    font-size: 2em;
    font-style:italic;
   
}
.HomePageDescriptionSection{
    padding: 1em;
    font-size: 2em;
    color:#07294b;
    margin-top: 2em;
    margin-bottom: 2em;

}
.HomePageDescription>span{
    color:#92C83E;
}
.LearnMore{
    border-style:solid;
    border-width: 3px;
    width:6em;
    font-size:0.5em;
    padding:0.5em;
    margin-top: 1em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.LearnMore:hover{
    background-color: #02305e;
    color: white;
    transition: 2s;
}
.LocationSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:2em;
}
.LocationDescription{
    text-align: center;
    color:rgb(46, 44, 44);
    margin-bottom: 1em;
}
.LocationSection>iframe{
    width: 100%;
    height:25em;
}
.FooterSection{
    background-color: #02305e;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top:1em;
    padding-bottom:1em ;
}
.SocialLinks{
    margin-bottom: 1em;
}
.SocialLinks>a{
    color:white;
    text-decoration: none;
    margin: 0.4em;
    font-size: 1.2em;
    
}
.SocialLinks>i{
margin: 0.5em;

}
.CopyRightsText{
    font-size:1em;
}
@media (max-width:280px){
    .Slogan{
        font-size: 0.8em !important;
    }
}
    @media (max-width:650px){
    .LocationSection>iframe{
        width: 80%;
        height: 15em;
        margin-right: auto;
        margin-left: auto;
        margin-top: 2em;
        margin-bottom:2em;
    }
    .MainSection{
    margin-bottom: 1em;
    }
    .Slogan{
        margin-top: 2em;
    }
    .HomePageDescriptionSection{
        padding: 1em;
        font-size: 1em;
        color:#07294b;
        margin-top: 3em;
        margin-bottom: 3em;
    
    }
    .HomePageDescription>span{
        font-weight:800;
    }
    .LocationDescription{
        margin-top: 1em;
    }
.FooterSection{
    font-size: 0.7em;
}
}
@media (max-width:992px){
    .NavBarContainer{
        display: none;
    }
    .MobileNavBarContainer{
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: 999;
        background-color: white; 
        width: 100%;
    }
    .MobileNavBar{
        width:90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 0.5em;

    }
    .MobileNavBarActive{
    display: none;
    flex-direction: column;
    background-color: #02305e;
    color: white;
    padding: 1em;
    justify-content: space-between;
    z-index: 999;
    height: 5em;
    font-weight: 600;
    cursor:pointer;
    }
    .MobileNavBarActive>a{
        text-decoration:none;
        text-decoration-thickness:3px !important;
        text-underline-offset:8px !important;
        
    }
    .Slogan{
        font-size: 1em;
    }
    .NavLogo{
        width:1.5em;
        margin-left: 1em;
    }
    #MenuIcon{
       font-size: 1.5em; 
       padding-top: 0.5em;
       margin: 0;
       margin-right: -1em;
       cursor:pointer;
    }
    
}