@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
   
}
hr{
    width:25%;
    margin-left:auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}
.Title{
    text-align: center;
    color:#07294b;
    font-family: "kumbh Sans";
    margin-top: 0em ;
    
}
.DropUsaLine{
    text-align: center;
    color: #07294b;
    margin-bottom: 1em;
}
.NavBarContainer{
    width:100%;
    display:flex;
    justify-content: center;
    position: fixed;
    z-index:999;
    align-items: center;
  
 
}
.NavBardiv{
    
    width:100%;
    display:flex;
    justify-content: center;
    position: fixed;
    z-index:999;
    align-items: center;
    background-color: white;
 
}
.MobileNavBarContainer{
    display: none;
}
.NavBar{
    width: 30%;
    display:flex;
    justify-content: space-around;
    margin: auto;
    text-align: center;
    font-size: 1.3em;
    font-weight: 600;
    cursor: pointer;
}
.NavBar>a{
    text-decoration:none;
    text-decoration-thickness:4px !important;
    text-underline-offset:8px !important;
    color: black;
}
#HomeNav:hover,#ServicesNav:hover,#AboutNav:hover,#ContactNav:hover,#JobsNav:hover{

     text-decoration: underline;
     transition: 3s ease-in;     
}
.SelectedNavBar{
    text-decoration: underline  !important;
}
#CloseIcon{
    display: none;
    padding-top: 1em;
    margin-right: -1.5em;
    cursor: pointer;
}

.MainLogo{
    width:50%;
    padding-top: 5em; 
    
}

.LogoContainer{
    display: flex;
    justify-content: center;

}
.NavLogo{
    width:3em;
    margin-left: 3em;
    margin-right: auto;
    margin-top:0.5em;
}
.Slogan{
    text-align: center;
    color:#07294b;
    font-weight:400;
    font-size: 2em;
   
   
}
.Slogan>span{
    font-weight:600;
}
.HomePageDescriptionSection{
    padding: 1em;
    font-size: 1.5em;
    color:#000;
    margin-top: 2em;
    margin-bottom: 2em;
    font-weight: 200;
    text-align: justify;
    word-break:initial;
    hyphens: auto;
   
}
.HomePageDescription{
    font-weight: 400;
}
.HomePageDescription>span{
    color:#92C83E;
    font-weight: 600;
    font-size: 1em;
}
.HomePageDescriptionSection>a{
color: #07294b;
text-decoration: none;
cursor: pointer;
}
.DestktopsDescriptionContainer{
    width:fit-content;
    height:5em;
    margin: auto;
    
}
.MobileDescriptionContainer{
    display: none;
}
#LearnMore{
   display: flex;
   justify-content: center;
   margin-top: -4em;
}
.ContactForm{
    display: flex;
    flex-direction: column;
    width:50%  !important;
    margin: auto;
}
label{
    color: #000000;
    font-weight: 600;

    
}
input{
    height:5em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    border-color: #07294b;
    border-width: 3px;
    border-style: solid;
    border-radius:1.5em;
    padding-left:1em;
    color: #000000;
    font-weight: 600;
    width: 100%;
}
input:focus::placeholder {
color: white;
  } 
 input:focus>label{
color: aqua;
 }
::placeholder{
    padding-left: 0em;
    color: #000;
    font-weight: 600;
}
label>span{
    color: rgb(43, 43, 43);
}
.LearnMoreButton{
    text-decoration: none;
    border: none;
}
.SubmitButton,Button{
    border-style:solid;
    border-width: 2px;
    border-color:#07294b;
    width:10em;
    height: 3em;
    font-size:1em ;
    font-weight: 600 ;
    padding:0.5em;
    margin-top: 1em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}
.SubmitButton:hover{
    background-color: #07294b;
    color: white;
    transition:2s;
}
.LocationSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
 
}
.LocationDescription{
    text-align: center;
    color:rgb(46, 44, 44);
    margin-bottom: 1em;
}
.LocationSection>iframe{
    width: 100%;
    height:25em;
}
.FooterSection{
    background-color: #07294b;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top:1em;
    padding-bottom:1em ;
}
.SocialLinks{
    margin-bottom: 1em;
}
.SocialLinks>a{
    color:white;
    text-decoration: none;
    margin: 0.4em;
    font-size: 1.2em;
    
}
.SocialLinks>i{
margin: 0.5em;

}
.CopyRightsText{
    font-size:0.8em;
    font-weight: 600;
}
.FooterLogo{
    width:20em;
    margin: auto;
}
.HomeServicesPreview{
    display: flex;
    justify-content: center;
    display: flex;  
    flex-wrap: wrap;
}
/* Our Services Home Screen Card */
.card p {
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    color: #000;
  }
  
  .card p.small {
    font-size: 14px;
  }
  
  .go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: #92C83E;
    border-radius: 0 4px 0 32px;
  }
  
  .go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
  }
  
  .card1 {
    display: block;
    position: relative;
    max-width: 262px;
    background-color: #f2f8f9;
    border-radius: 4px;
    padding: 32px 24px;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
  }
  
  .card1:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #92C83E;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.5s ease-out;
  }
  
  .card1:hover:before {
    transform: scale(21);
  }
  
  .card1:hover p {
    transition: all 1s ease-out;
   
  }
  
  .card1:hover h3 {
    transition: all 0.2s ease-out;
   
  }
  
@media (max-width:280px){
    .Slogan{
        font-size: 1em !important;
        padding: 0.2em !important;
    }
    .HomePageDescriptionSection{
        padding: 0.5em !important;
        font-size: 0.75em !important; 
    }
    .LocationDescription{
        font-size: 0.5em  !important;
    
    }
    ::placeholder{
        font-size: 0.8em;
    }

}


@media (max-width:400px){
    .HomePageDescriptionSection{
       
        font-size: 1.2em ;
        font-weight: 200 !important;
        
    
    }
   
}
    @media (max-width:650px){
        hr{
            width:70%;
        }
    .LocationSection>iframe{
        width: 80%;
        height: 15em;
        margin-right: auto;
        margin-left: auto;
        margin-top: 2em;
        margin-bottom:2em;
    }
    .MainSection{
    margin-bottom: 1em;
    }
    .Slogan{
        margin-top: 2em;
        font-size:1.5em;
        padding: 0.5em;
    }
    .HomePageDescriptionSection{
        padding: 1em;
        font-size: 1em;
        color:#000;
        margin-top: 3em;
        margin-bottom: 3em;
        font-weight: 400;
    
    }
    .HomePageDescription>span{
        font-weight:600;
        font-size: 1em;
    }
     .SubmitButton{
        width: 8em;
        font-size: 0.8em;
        margin-top: 0em !important;
     }
     #LearnMore{
        margin-top: -1em;
     }
     input{
        height:3em;
    }
    .LocationDescription{
        margin-top: 1em;
        font-size: 0.6em;
    }
.FooterSection{
    font-size: 0.7em;
}
}
@media (max-width:992px){
    .NavBarContainer{
        display: none;
    }
    .MobileNavBarContainer{
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: 999;
        background-color: white; 
        width: 100%;
    }
    .MobileNavBar{
        width:90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 0.5em;

    }
    .MobileNavBarActive{
    display: none;
    flex-direction: column;
    background-color: #07294b;
    color: white;
    padding: 1em;
    padding-bottom: 3em;
    justify-content: space-between;
    z-index: 999;
    height: 6em;
    font-weight: 400;
    cursor:pointer;
    }
    .MobileNavBarActive>a{
        color: white;
        margin-bottom: 0.2em;
        text-decoration:none;
        text-decoration-thickness:2px !important;
        text-underline-offset:5px !important;
        
    }
    .Slogan{
        font-size: 1.5em;
        font-weight: 400;
    }
    .Slogan>span{
        font-weight: 600;
    }
    .DestktopsDescriptionContainer{
        display: none;
    }
    .MobileDescriptionContainer{
        display: flex;
       
    }
    .ContactForm{
        width: 70%;
        
    }
    
    .NavLogo{
        width:1.5em;
        margin-left: 1em;
    }
    #MenuIcon{
       font-size: 1.5em; 
       padding-top: 0.5em;
       margin: 0;
       margin-right: -1em;
       cursor:pointer;
    }
    
}
@media (min-width:993px) and (max-width:1800px){
    .NavBar{
        width:50%;
    }
}

  