@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
hr{
    margin-top: 1.5em;
    margin-bottom: 2em;
}
.ServicesSection{
    padding-top: 5em;
}
.DesktopMainParagraph{
    padding: 1em;
    font-weight: 400;
    font-size: 1.2em;
    margin-top: 1em;
    text-align: justify;
    
}
.DesktopMainParagraph>span{
    color:#92C83E;
    font-weight: 600 ;
    font-size: 1em ;
    
}
.DesktopServiceContainer{
 padding: 1em;
}

.MobileServices{
    display:none;
}
#LastParagraph,#LastParagraphIT{
    margin-bottom: 3em;
}
@media (max-width:768px){
    .DesktopServices{
   display: none;
    }
    .MobileServices{
        display:flex; 
        flex-direction: column; 
    }
    .MobileServicesParagraph{
        padding: 1em;
        margin-top: 2em;
        text-align: justify;
        font-weight: 400;
    }
    .MobileServicesParagraph>span{
        color:#92C83E;
        font-size: 1.2em;
        font-weight: 600;
    }
    .Title{
        margin-left: 1em;
        margin-right: 1em;
    }
    #LastMainMobile,#LastITMobile,#LastMobileService{
        margin-bottom: 3em !important;
    }
}

@media (min-width:820px) and (max-width:825px){
    .MainParagraph{
        padding: 1.6em;  
    }
}
